<!DOCTYPE html>
<html>
<head>
  <title> Tiny App</title>
  <% include partials/_header %>
</head>
<body>
  <% if (user) { %>
  <div style="margin: 20px;padding: 20px"><h1> What's up,  <span><%= user["email"] %>?</span></h1></div>
  <% } %>
  <ul>
    <% for (let key in urls) { %>
        <li>
        <%= key %> = <%= urls[key]["long"] %>
        <form method="POST" action="/urls/<%= key %>/delete">
        <button type="submit">Delete</button></form>
        <form method="GET" action="/urls/<%= key %>">
        <button type="submit">Edit</button></form>
        </li>
    <% } %>
  </ul>
  <a href="/urls/new">Create a new short link here.</a>
</body>
</html>