<!DOCTYPE html>
<html>
<head>
  <title> Tiny App</title>
  <% include partials/_header %>
</head>
<body>
  <% if (username) { %>
  <div style="margin: 20px;padding: 20px"><h1> What's up,  <%= username %>?</h1></div>
  <% } %>
  <ul>
    <% for (let key in urls) { %>
      <li>
      <%= key %> = <%= urls[key] %>
      <form method="POST" action="/urls/<%= key %>/delete">
      <button type="submit">Delete</button></form>
      <form method="GET" action="/urls/<%= key %>">
      <button type="submit">Edit</button></form>
      </li>
    <% } %>
  </ul>
  <p>
    <a href="/urls/new"> Shorten a new URL! </a>
  </p>
</body>
</html>